<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Latin+Modern+Roman:400,400i,700,700i|Latin+Modern+Sans:400,400i,700,700i|Latin+Modern+Sans+Caps:400&display=swap">

body{ font-family: 'Latin Modern Roman', serif;
    /* Fallback to a generic serif font if Latin Modern Roman is unavailable */
}

h1 {
    font-family: 'Latin Modern Sans', sans-serif;
    /* Fallback to a generic sans-serif font if Latin Modern Sans is unavailable */
}

/* Apply Italic style */
.italic {
    font-style: italic;
}

/* Apply Bold style */
.bold {
    font-weight: bold;
}

/* Apply Small-caps style */
.small-caps {
    font-family: 'Latin Modern Sans Caps', sans-serif;
    font-variant: small-caps;
</head>
  {%- include head.html -%}
<!-- Write your comments here 
  {% include mathjax.html %} -->

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <p>
      Tagged 
      {% for tag in page.tags %}
      <a class="post" href="/tag/{{tag}}">#{{tag}}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </p>
    {%- include footer.html -%}

  </body>

</html>
